footer
    padding: 10px 20px
    border-top: 1px solid #fff

.footer-content
    display: flex
    align-items: center
    justify-content: space-between

.general
    display: flex
    align-items: center

.email
    font-size: .9em
    color: #ABB2BF
    margin-inline-start: 18px

.social
    text-align: center

.copyright
    text-align: center
    color: #ABB2BF
